@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;


}

{/* .circle {
  width: 800px;
  height: 200px;
  background: linear-gradient(to bottom, #e66509 30%,  #0ec40e 30%,  #6c2fd5 50%);
  filter: blur(80px);
}

*/}